.GeneratorButton {
    position:relative;
    padding:6px 15px;
    font-size: larger;
    left:-8px;
    border: none;
    background-color:#85d1db;
    margin: 15px;
    border-radius: 5px;
}

.GenderButton {
    position:relative;
    padding:6px 15px;
    margin: 0px 5px 5px 5px;
    border-radius: 5px;
    left:-8px;
    border: none;
    background-color:#8a9cec;
    color:#fafafa;
}


.ListAndButtons{
    display: grid;
    place-items: center center;
    height: 100%;
}
