
.PageButton {
    position:relative;
	padding:6px 15px;
	margin: 5px 5px 0px 5px;
	border-radius: 5px;
    border: none;
    background-color:#8a9cec;
    color:#fafafa;
}

.pagination{
	display: flex;
	justify-content: center;
}


table {
	width: 1000px;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

th,
td {
	padding: 15px;
	background-color: rgba(255,255,255,0.2);
	color: #fff;
}

th {
	text-align: center;
}

thead {
	th {
		background-color: #55608f;
	}
}

tbody {
	tr {
		&:hover {
			background-color: rgba(255,255,255,0.3);
		}
	}
	td {
		position: relative;
	}
}